<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nico - #lowrezjam 2016</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Game submission for #lowrezjam 2016">
    <meta name="keywords" content="indie, game, game jam, phaser, html5, javascript">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta property="og:title" content="" />
    <meta property="og:description" content="Game submission for #lowrezjam 2016" />
    <meta property="og:image" content="http://poot-poot.com/games/jetpack-taco/assets/screenshots/jetpack_taco.png" />
    
    <% /* Init Phaser */ %>
    <script src="js/lib/phaser-arcade-physics.js"></script>

    <% /* Flod 2.1 */ %>
    <script src="js/lib/flod2.1/Core.js"></script>
    <script src="js/lib/flod2.1/Soundblaster.js"></script>
    <script src="js/lib/flod2.1/F2Player.js"></script>

    <% /* Jsfx */ %>
    <script src="js/lib/jsfx/audio.js"></script>
    <script src="js/lib/jsfx/jsfx.js"></script>
    <script src="js/lib/jsfx/jsfxlib.js"></script>

    <% /* Game */ %>
    <script src="js/Boot.js"></script>
    <script src="js/Preloader.js"></script>
    <script src="js/Ease.js"></script>

    <script src="js/ScreenManager.js"></script>
    <script src="js/LinearSlideTransition.js"></script>

    <script src="js/screens/TitleScreen.js"></script>
    <script src="js/screens/ScoreScreen.js"></script>
    <script src="js/screens/Level_test.js"></script>
    <script src="js/screens/Level_1.js"></script>

    <script src="js/sprites/BackgroundStrobe.js"></script>
    <script src="js/sprites/Duck.js"></script>
    <script src="js/sprites/Rain.js"></script>
    <script src="js/sprites/Drop.js"></script>
    <script src="js/sprites/Scores.js"></script>
    <script src="js/sprites/TopFlowers.js"></script>
    <script src="js/sprites/BottomFlowers.js"></script>
    <script src="js/sprites/Clouds.js"></script>
    <script src="js/sprites/Cloud.js"></script>

    <script src="js/Game.js"></script>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        #phaser-canvas {
            min-width: 512px;
            min-height: 512px;
            background: #666625;
            display: inline-block;
        }

        .credits {
            margin-top: 14px;
        }
    </style>
</head>
<body>

    <div id="phaser-canvas"></div>

    <div class="credits">Made by <a href="http://nicotroia.com" target="_blank">Nico</a></div>

    <script type="text/javascript">

        window.onload = function() {

            //  Create your Phaser game and inject it into the gameContainer div.
            //  We did it in a window.onload event, but you can do it anywhere (requireJS load, anonymous function, jQuery dom ready, - whatever floats your boat)
            var game = new Phaser.Game(512*window.devicePixelRatio, 512*window.devicePixelRatio, Phaser.AUTO, 'phaser-canvas');

            //  Add the States your game has.
            //  You don't have to do this in the html, it could be done in your Boot state too, but for simplicity I'll keep it here.
            game.state.add('Boot', BasicGame.Boot);
            game.state.add('Preloader', BasicGame.Preloader);
            game.state.add('Game', BasicGame.Game);

            //  Now start the Boot state.
            game.state.start('Boot');

        };

    </script>

</body>
</html>